<div id="carouselExampleIndicators" class="carousel slide mt-3 shadow-lg" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <!--Chess-->
    <div class="carousel-item active" style="background-image:url(<%= image_url("chess.png") %>);">
      <div class="carousel-caption mb-5 py-4">
        <h5>Chess CLI</h5>
        <p>A command line chess game built with Ruby.</p>
        <span class="badge badge-ruby">Ruby</span>
        <span class="badge badge-ruby">RSpec</span>
        <span class="badge badge-git">Git</span>
        <div class="mt-3">
          <%= link_to 'https://replit.com/@bendee48/chess', target: '_blank' do %>
            <i class="fas fa-external-link-alt fa-2x px-3"></i>
          <% end %>
          <%= link_to 'https://github.com/bendee48/chess', target: '_blank' do %>
            <i class="fab fa-github fa-2x"></i>
          <% end %>
          <!-- Button trigger modal -->
          <%= link_to '#chessModal', role: 'button', 'data-toggle' => 'modal' do %>
            <i class="fas fa-info fa-2x px-3"></i>
          <% end %>
        </div>
      </div>
    </div>
    <!--Facey-->
    <div class="carousel-item" style="background-image:url(<%= image_url("bookface.png") %>);">
      <div class="carousel-caption mb-5 py-4">
        <h5>Social Media App</h5>
        <p>A social media app built with Rails.</p>
        <span class="badge badge-ruby">Rails</span>
        <span class="badge badge-ruby">Ruby</span>
        <span class="badge badge-ruby">RSpec</span>
        <span class="badge badge-bootstrap">Bootstrap</span>
        <span class="badge badge-info">BDD</span>
        <span class="badge badge-git">Git</span>
        <div class="mt-3">
          <%= link_to 'https://pacific-journey-50747.herokuapp.com/', target: '_blank' do %>
            <i class="fas fa-external-link-alt fa-2x px-3"></i>
          <% end %>
          <%= link_to 'https://github.com/bendee48/book-face1.1', target: '_blank' do %>
            <i class="fab fa-github fa-2x"></i>
          <% end %>
          <!-- Button trigger modal -->
          <%= link_to '#faceyModal', role: 'button', 'data-toggle' => 'modal' do %>
            <i class="fas fa-info fa-2x px-3"></i>
          <% end %>
        </div>
      </div>
    </div>
    <!--Hangman-->
    <div class="carousel-item" style="background-image:url(<%= image_url("hangman-2.png") %>);">
      <div class="carousel-caption mb-5 py-4">
        <h5>Hangman 2.0 CLI</h5>
        <p>A command line hangman game built with Ruby.</p>
        <span class="badge badge-ruby">Ruby</span>
        <span class="badge badge-ruby">RubyGem</span>
        <span class="badge badge-ruby">RSpec</span>
        <span class="badge badge-info">TDD</span>
        <span class="badge badge-info">BDD</span>
        <span class="badge badge-git">Git</span>
        <span class="badge badge-secondary">Yaml</span>
        <div class="mt-3">
          <%= link_to 'https://replit.com/@bendee48/hangman-20', target: '_blank' do %>
            <i class="fas fa-external-link-alt fa-2x px-3"></i>
          <% end %>
          <%= link_to 'https://github.com/bendee48/hangman-2.0', target: '_blank' do %>
            <i class="fab fa-github fa-2x"></i>
          <% end %>
          <!-- Button trigger modal -->
          <%= link_to '#hangmanModal', role: 'button', 'data-toggle' => 'modal' do %>
            <i class="fas fa-info fa-2x px-3"></i>
          <% end %>
        </div>
      </div>
    </div>
    <!--Overtime-->
    <div class="carousel-item" style="background-image:url(<%= image_url("overtime.png") %>);">
      <div class="carousel-caption mb-5 py-4">
        <h5>Overtime App</h5>
        <p>A business app for logging overtime, built with Ruby on Rails.</p>
        <span class="badge badge-ruby">Rails</span>
        <span class="badge badge-ruby">Ruby</span>
        <span class="badge badge-ruby">RSpec</span>
        <span class="badge badge-info">TDD</span>
        <span class="badge badge-info">BDD</span>
        <span class="badge badge-bootstrap">Bootstrap</span>
        <span class="badge badge-git">Git</span>
        <div class="mt-3">
          <%= link_to 'https://overtime-app-123.herokuapp.com/', target: '_blank' do %>
            <i class="fas fa-external-link-alt fa-2x px-3"></i>
          <% end %>
          <%= link_to 'https://github.com/bendee48/overtime-rails', target: '_blank' do %>
            <i class="fab fa-github fa-2x"></i>
          <% end %>
          <!-- Button trigger modal -->
          <%= link_to '#overtimeModal', role: 'button', 'data-toggle' => 'modal' do %>
            <i class="fas fa-info fa-2x px-3"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>