<%= render 'modals' %>

<h1 id="home"></h1>
<section class="container">
  <%= render 'home' %>
</section>

<h1 id="about">About me.</h1>
<section class="container">
  <%= render 'about' %>
</section>

<h1 id="projects">Projects.</h1>
<main class='container'>
  <%= render 'projects' %>
</main>

<div class="d-flex justify-content-center mt-3 mb-3">
  <%= link_to 'All Projects', projects_path, class: 'btn btn-primary text-center' %>
</div>

<h1 id="contact">Contact Info.</h1>
<section class="container">
  <%= render 'contact' %>
</section>


