<div class="table-responsive mt-4">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Tech</th>
        <th scope="col">Links</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">2022</th>
        <td>Todo</td>
        <td>Todo App built with vanilla JavaScript, HTML and CSS.</td>
        <td>
          <span class="badge badge-javascript">JavaScript</span>
          <span class="badge badge-html">HTML</span>
          <span class="badge badge-css">CSS</span>
          <span class="badge badge-git">Git</span>
          <span class="badge badge-secondary">webpack</span>
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://bendee48.github.io/todo/', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Todo live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/todo', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Todo Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2021</th>
        <td>TicTacToe</td>
        <td>TicTacToe built with HTML, CSS and JavaScript.</td>
        <td>
          <span class="badge badge-javascript">JavaScript</span>
          <span class="badge badge-html">HTML</span>
          <span class="badge badge-css">CSS</span>
          <span class="badge badge-git">Git</span>
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://bendee48.github.io/tictactoe_js/', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">TicTacToe live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/tictactoe_js', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">TicTacToe Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2021</th>
        <td>Library App</td>
        <td>An online library app built with JavaScript.</td>
        <td>
          <span class="badge badge-javascript">JavaScript</span>
          <span class="badge badge-html">HTML</span>
          <span class="badge badge-css">CSS</span>
          <span class="badge badge-git">Git</span>
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://bendee48.github.io/library', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Library App live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/library', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Library App Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2020</th>
        <td>Overtime Rails App</td>
        <td>A business app used for logging hours built with Ruby on Rails.</td>
        <td>
          <span class="badge badge-ruby">Rails</span>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-ruby">RSpec</span>
          <span class="badge badge-info">TDD</span>
          <span class="badge badge-info">BDD</span>
          <span class="badge badge-bootstrap">Bootstrap</span>
          <span class="badge badge-git">Git</span>
        </td>
        <td class='text-nowrap'>
          <%= link_to_if false, 'https://overtime-app-123.herokuapp.com/', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Overtime App live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/overtime-rails', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Overtime App Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2020</th>
        <td>Hangman 2.0 CLI Game</td>
        <td>Test Driven Developed command line Hangman game built with Ruby.</td>
        <td>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-ruby">RubyGem</span>
          <span class="badge badge-ruby">RSpec</span>
          <span class="badge badge-info">TDD</span>
          <span class="badge badge-info">BDD</span>
          <span class="badge badge-git">Git</span>
          <span class="badge badge-secondary">Yaml</span>     
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://replit.com/@bendee48/hangman-20', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Hangman live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/hangman-2.0', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Hangman Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2020</th>
        <td>Social Media App</td>
        <td>A social media app built with Rails.</td>
        <td>
          <span class="badge badge-ruby">Rails</span>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-ruby">RSpec</span>
          <span class="badge badge-bootstrap">Bootstrap</span>
          <span class="badge badge-info">BDD</span>
          <span class="badge badge-info">OAuth</span>
          <span class="badge badge-git">Git</span>
        </td>
        <td class='text-nowrap'>
          <%= link_to_if false, 'https://pacific-journey-50747.herokuapp.com/', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Social Media App live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/book-face1.1', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Social Media App Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2020</th>
        <td>Event App</td>
        <td>A simple Rails app for Events, practising associations.</td>
        <td>
          <span class="badge badge-ruby">Rails</span>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-git">Git</span>
        </td>
        <td class='text-nowrap'>
          <%= link_to_if false, 'https://aqueous-gorge-20348.herokuapp.com/', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Event App live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/rails-private-events', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Event App Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2020</th>
        <td>Mastermind Sinatra App</td>
        <td>The game Mastermind as a Sinatra App.</td>
        <td>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-ruby">Sinatra</span>
          <span class="badge badge-ruby">RSpec</span>
          <span class="badge badge-html">HTML</span>
          <span class="badge badge-css">CSS</span>
          <span class="badge badge-git">Git</span>
        </td>
        <td class='text-nowrap'>
          <%= link_to_if false, 'https://ancient-thicket-09848.herokuapp.com/', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Mastermind Sinatra live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/sinatra-mastermind', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Mastermind Sinatra Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2020</th>
        <td>Caesar Cipher Sinatra App</td>
        <td>Converting a Ruby program into a Sinatra App.</td>
        <td>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-ruby">Sinatra</span>
          <span class="badge badge-html">HTML</span>
          <span class="badge badge-css">CSS</span>
          <span class="badge badge-git">Git</span>
        </td>
        <td class='text-nowrap'>
          <%= link_to_if false, 'https://damp-atoll-59361.herokuapp.com/', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Caesar Cipher live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/sinatra-caesar-cipher', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Caesar Cipher Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2020</th>
        <td>Chess CLI</td>
        <td>Command line chess game built with Ruby.</td>
        <td>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-ruby">RSpec</span>
          <span class="badge badge-git">Git</span>      
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://replit.com/@bendee48/chess', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Chess live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/chess', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Chess Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2019</th>
        <td>Mastermind CLI</td>
        <td>Command line Mastermind game built with Ruby.</td>
        <td>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-info">OOP</span>
          <span class="badge badge-git">Git</span>      
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://replit.com/@bendee48/Mastermind', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Mastermind CLI live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/mastermind', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Mastermind CLI Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2019</th>
        <td>Hangman CLI</td>
        <td>Command line hangman game looking at serialization and built with Ruby.</td>
        <td>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-secondary">Yaml</span>
          <span class="badge badge-git">Git</span>      
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://replit.com/@bendee48/Hangman', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Hangman CLI live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/hangman', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Hangman CLI Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2019</th>
        <td>Connect Four CLI</td>
        <td>Command line connect four game built with Ruby.</td>
        <td>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-ruby">RSpec</span>
          <span class="badge badge-info">TDD</span>
          <span class="badge badge-git">Git</span>      
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://replit.com/@bendee48/connectfour', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Connect Four CLI live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/connect_four', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Connect Four CLI Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2019</th>
        <td>TicTacToe Ruby CLI</td>
        <td>TicTacToe CLI game built with Ruby.</td>
        <td>
          <span class="badge badge-ruby">Ruby</span>
          <span class="badge badge-ruby">RSpec</span>
          <span class="badge badge-info">OOP</span>
          <span class="badge badge-git">Git</span>     
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://replit.com/@bendee48/TicTacToe', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">TicTacToe Ruby CLI live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/tictactoe', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">TicTacToe Ruby CLI Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2019</th>
        <td>JavaScript Calculator</td>
        <td>A calculator built with pure JavaScript, HTML and CSS.</td>
        <td>
          <span class="badge badge-javascript">JavaScript</span>
          <span class="badge badge-html">HTML</span>
          <span class="badge badge-css">CSS</span>
          <span class="badge badge-git">Git</span>     
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://bendee48.github.io/calculator/', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Calculator live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/calculator', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Calculator Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2019</th>
        <td>Pomodoro</td>
        <td>A Pomodoro timer built with JavaScript, HTML and CSS.</td>
        <td>
          <span class="badge badge-javascript">JavaScript</span>
          <span class="badge badge-html">HTML</span>
          <span class="badge badge-css">CSS</span>
          <span class="badge badge-git">Git</span>     
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://bendee48.github.io/pomodoro/', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Pomodoro live version</span>
          <% end %>
          <%= link_to 'https://github.com/bendee48/pomodoro', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Pomodoro Github Repo</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">2019</th>
        <td>Etch-a-Sketch</td>
        <td>Etch-a-Sketch built with JavaScript, HTML and CSS.</td>
        <td>
          <span class="badge badge-javascript">JavaScript</span>
          <span class="badge badge-html">HTML</span>
          <span class="badge badge-css">CSS</span>
          <span class="badge badge-git">Git</span>     
        </td>
        <td class='text-nowrap'>
          <%= link_to 'https://github.com/bendee48/etch-a-sketch', target: '_blank' do %>
            <i class="fas fa-external-link-alt px-3 index-icon"></i>
            <span class="sr-only">Etch a Sketch live version</span>
          <% end %>
          <%= link_to 'https://bendee48.github.io/etch-a-sketch/', target: '_blank' do %>
            <i class="fab fa-github index-icon"></i>
            <span class="sr-only">Etch a Skecth Github Repo</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
